<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>千里之行，屎于足下</title>
    <link rel="shortcut icon" href="/runtime/img/竹.png">
    <link rel="stylesheet" href="/public/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/iconfont.css?t=123" media="all">
    <link rel="stylesheet" href="/css/bbf.css?t=123" media="all">
    <link rel="stylesheet" href="/public/min/css/menu.min.css?t=123" media="all">
    <script type="text/javascript" src="/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/public/static/layui/layui.all.js"></script>
</head>
<style>
    .ball {
        position: absolute;
        border-radius: 50%;
    }
    #book{
        background: #fafafa;
        position: absolute;
        top: 0;
        /*width: 600px;*/
        display: none;
    }
    .bg-fa{
        background: #fafafa;
    }
</style>
<body>
<div class="window">
    <div id="left">
        <div class="top-tip">
            <div class="auto-box">
                <div class="button menu-show-all" title="展开所有">+</div>
                <div class="button menu-hide-all" title="隐藏所有">-</div>
                <div class="button ajax pull" url="/?is_ajax=1" ajax-data="_menu.pull.data()" ajax-cb="_menu.pull.cb" title="pull">
                    pull
                </div>
                <div class="button reload iconfont"
                     style="font-size: 18px; padding: 0px 6px 3px 6px; line-height: 18px;" title="刷新">&#xe722;
                </div>
                <div class="button reload iconfont"
                     style="font-size: 18px; padding: 0px 6px 3px 6px; line-height: 18px;" title="刷新">&#xe722;
                </div>
                <!--<div class="button reload bbf-padded-0" title="刷新"><i class="icon iconfont">&#xe722;</i></div>-->
                <!--<div class="button reload" title="刷新"><i class="icon iconfont">&#xe650;</i></div>-->
            </div>
            <div class="auto-box">
                <input name="fastsearch" class="fastsearch" placeholder="快速查找" type="text" style="height:24px; margin: 5px 0; padding: 0 4px;" />
            </div>
            <!-- tabs -->
            <div class="bbf-tabs">
                <!-- <div>
                    <div class="button bbf-tabs-prev" title="">&lt;</div>
                    <div class="button bbf-tabs-next" title="">&gt;</div>
                </div> -->
                <div class="bbf-tabs-select">
                    <span class="bbf-tabs-item over">STORE</span>
                    <span class="bbf-tabs-item active">pull</span>
                    <span class="bbf-tabs-item">KEY</span>
                    <span class="bbf-tabs-item">4</span>
                </div>
                <div class="bbf-tabs-list">
                    <div class="bbf-tabs-list-item">
                        <div class="auto-box">
                            <div class="button set-title">title</div>
                            <div class="button sort">sort</div>
                            <div class="ajax button"
                                 url="/upload/get?method=menu"
                                 ajax-data="pullData()" ajax-cb="pullCb1">pull
                            </div>
                            <div class="ajax ajax-post button"
                                 url="/upload/json?method=menu&id=2"
                                 ajax-data="storeData()">push
                            </div>
                            <span style="float: right" id="loader" title="玩命加载中......"></span>
                        </div>
                    </div>
                    <div class="bbf-tabs-list-item" style="display: block;">
                        <div class="auto-box">
                            <form id="pullForm">
                                <p style="padding: 3px 0;">
                                    url: <input style="width: 50%" name="pull_action" class="pull_action"
                                                placeholder="pull action" value="RMT0718"/>
                                </p>
                                <p style="padding: 3px 0 0 0;">
                                    <input name="extra" value="" class="input-2" placeholder="extra"/>
                                    <input name="username" value="" class="input-2" placeholder="name"/>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="bbf-tabs-list-item full">
                        <div class="keycontent"></div>
                    </div>
                    <div class="bbf-tabs-list-item">
                        <div class="keycontent1 bg-fa">
                            <div class="button" title="背景">背景动画</div>
                            <input type="checkbox" value="" class="bbf-switch change-back" placeholder="name"/>
                            <p>
                                other iframe:<input type="checkbox" value="" class="bbf-switch new-iframe" placeholder="name"/>
                                save:<input type="checkbox" value="" class="bbf-switch book_save" placeholder="name"/>
                            </p>
                            <p>
                                <input type="text" value="" class="input-2 book_id" placeholder="book"/>
                                <input type="text" value="" class="input-2 page_link" placeholder="page"/>
                                <sapn class="button getbook" title="获取">GET</sapn>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main scroll">
            <ul class="menu-level padded">
                <!-- menu -->
                <li class="menu-node">
                    <div class="menu-text"><a href="/zip/js">一级菜单top</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="toggle-box point">
        <div class="toggle-icon iconfont icon-youjiantou icon-zuojiantou"></div>
    </div>

    <div id="right">
        <div class="top-tip">
            <div class="nav-icon" style="color: #fff; display: inline-block; background: #784aff; border-radius: 2px;padding: 4px; line-height: 1;margin: -2px 6px 0 0;"
                 class="fl">竹
            </div>
            <a href="#" target="myIframe" style="color: #555;">首页</a>
            <span> > </span>
            <a id="menu_nav_link" href="#" target="myIframe" style="color: #565;">unkonw</a>
            <div style="float: right;">
                <div class="button get-title"></div>
                <div class="progress-bar">
                    <div class="bar"></div>
                </div>
                <div class="button full-window-btn">full</div>
                <input placeholder="重命名" id="re_name" name="re_name" value=""
                       style="float: right; border: 0; height: auto; margin-right: 10px; padding: 2px 5px; font-size: 16px;"/>
            </div>
        </div>
        <div class="main">
            <iframe class="full-window" id="myIframe" name="myIframe" onload="onloadFrame(this)"
                    src="/index.html"></iframe>
            <iframe class="full-window" id="book" onload="onloadFrame(this)"
                    src="book.html"></iframe>
        </div>
    </div>
</div>

<div class="fix-rb win-box">
    <div class="win-nav">
        <span>新消息</span>
        <div class="win-nav-right-btn">
            <i class="win-min-btn point iconfont icon-fullscreen "></i>
            <i class="win-close-btn point iconfont icon-close"></i>
        </div>
    </div>
    <div class="win-main run-scroll" style="display: none;">
        <ul class="auto">
            <li>1</li>
            <li>end</li>
        </ul>
    </div>
</div>
<script type="text/html" id="menuItem">
    <li class="menu-node">
        <div class="menu-text">一级菜单</div>
        <ul class="menu-next">
            <!-- menu child -->
        </ul>
    </li>
</script>
<script type="text/html" id="tabBox">
    <div class="bbf-tabs">
        <div>
            <div class="button bbf-tabs-prev" title="">&lt;</div>
            <div class="button bbf-tabs-next" title="">&gt;</div>
        </div>
        <div class="bbf-tabs-select">
            <span class="bbf-tabs-item over">STORE</span>
            <span class="bbf-tabs-item active">pull</span>
            <span class="bbf-tabs-item">KEY</span>
            <span class="bbf-tabs-item">4</span>
        </div>
        <div class="bbf-tabs-list">
            <div class="bbf-tabs-list-item">
            </div>
            <div class="bbf-tabs-list-item" style="display: block;">
            </div>
            <div class="bbf-tabs-list-item full">
            </div>
            <div class="bbf-tabs-list-item">
            </div>
        </div>
    </div>
</script>
</body>
<script type="text/javascript" src="/public/min/js/common.min.js"></script>
<script type="text/javascript" src="/public/min/js/menu.min.js"></script>
<script type="text/javascript" src="/js/jump.js"></script>
<script type="application/javascript">
    // window.entryJS = "/js/menu.js";
</script>
</html>