<?php
global $_view__list_name;
$_view_name = "item/code";

if(empty($_view__list_name[$_view_name])){
$_view__list_name[$_view_name] = 1;
?>
<style>
    .code-box{
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        background: #232525;
    }
    .code-box .lable{
        border-bottom: 1px solid #464242;
        padding: 3px 10px;
        font-size: 15px;
        color: #ACACAC;
        background: #3B3B3B;
    }
    .code-box pre{
        color: #a9b7c6;
        margin: 0;
        padding: 5px 10px;
        line-height: 1.5;
    }
</style>
<?php } ?>
<div class="code-box">
    <div class="lable">
        <?php echo $fields['title']; ?>
        <a href="javascript:void(0)" style="float: right; color: #c5c5c5;" onclick="alert('点尼玛币');">复制</a>
    </div>
    <pre><?php echo $fields['code']; ?></pre>
</div>