<?php
    $bg = empty($fields['bg'])? '': $fields['bg'];
    switch($bg){
    case 'mdn':
        view("../template/demo/mdn/demo", []);
        break;
    case 'sky':
        view("bg/sky/index", []);
        break;
    default:
        // 
        break;
    }

    global $_view__list_name;
    $_view_name = "table-form";

    if(empty($_view__list_name[$_view_name])){
        $_view__list_name[$_view_name] = 1;
?>
<script type="text/javascript" src="/js/libs/jquery.min.js"></script>
<style>
    html{
        background: #f0f0f0;
    }
    body{
        margin: 0;
        min-width: 600px;
        width: 70%;
        margin: 0 auto;
        padding: 20px 20px 1px 20px;
        background: #fff;
    }
    form{
        margin-bottom: 14px;
    }
    input{
        height: 28px; 
        padding: 0 8px;
    }
    span{
        margin-right: 10px;
    }
</style>
<?php } ?>
<div class="form-box">
    <form action='' method='post'>
        IP: <input type="text" name='ip' value="" />
        <span> </span>
        域名: <input type="text" name='domain' value="" />
        <input type="hidden" name='type' value="add" />
        <input type="submit" value="添加" />
    </form>
    <?php foreach($fields as $domain => $ip){ ?>
    <form action='' method='post'>
        IP: <input type="text" name='ip' value="<?php echo $ip; ?>" />
        <span> </span>
        域名: <input type="text" name='newdomain' value="<?php echo $domain; ?>" />
        <input type="hidden" name='domain' value="<?php echo $domain; ?>" />
        <input type="hidden" name='type' value="delete" />
        <input type="button" value="保存" onclick="$(this).prev().val('add');$(this).attr('type', 'submit');$(this).click();" />
        <input type="submit" value="删除" />
    </form>
    <?php } ?>
</div>