<?php
    global $_view__list_name;
    $_view_name = "tree-form";

    if(empty($_view__list_name[$_view_name])){
        $_view__list_name[$_view_name] = 1;
?>
<script type="text/javascript" src="/js/libs/jquery.min.js"></script>
<style>
    html{
        background: #f0f0f0;
    }
    body{
        margin: 0;
        min-width: 600px;
        width: 70%;
        margin: 0 auto;
        padding: 20px 20px 1px 20px;
        background: #fff;
    }
    form{
        margin-bottom: 14px;
    }
    input{
        height: 28px; 
        padding: 0 8px;
        border: 1px solid #fff;
    }
    span{
        margin-right: 10px;
    }
    tr td{
        padding: 2px 4px;
    }
</style>
<?php } ?>
<div class="form-box">
    <form action='' method='post'>
        <div> <input type="submit" value="sub" /></div>
        <table>
            <thead>
            <tr>
            <td width="30px"></td>
            <?php foreach($fields['fields'] as $field){ ?>
            <td><?php echo $field[1]; ?></td>
            <?php } ?>
            <td width="100px"></td>
            </tr>
            </thead>
            <tbody>
            <?php 
            $tree = $fields['data'];
            $fields = $fields['fields'];
            foreach($tree as $item){ ?>
            <tr>
                <td>
                    <?php echo $item['id']; ?>
                    <input name="tree[id][]" type="hidden" value="<?php echo $item['id']; ?>" />
                    <input name="tree[pid][]" type="hidden" value="<?php echo $item['pid']; ?>" />
                </td>
                <?php foreach($fields as $key1 => $field){ ?>
                <td>
                    <?php if($key1 == 0) echo get_space($item['level']*4); ?> 
                    <input name="tree[<?php echo $field[0]; ?>][]" type="text" value="<?php echo $item[$field[0]]; ?>" />
                </td>
                <?php } ?>
                <td>
                    <a>add</a>
                    <a onclick="$(this).parents('tr').remove();">del</a>
                    <a>save</a>
                </td>
            </tr>
            <?php } ?>
            </tbody>
        </table>
    </form>
</div>

<?php 
function _tree_show($tree, $fields, $num=0){
    $tree = empty($tree)? []: $tree;
    foreach($tree as $key => $item){
?>
<tr>
    <td>
        <input name="id[]" type="text" value="<?php echo $key; ?>" />
    </td>
    <?php foreach($fields as $key1 => $field){ ?>
    <td>
        <?php if($key1 == 0) echo get_space($num*4); ?> 
        <input name="<?php echo $field[0]; ?>[]" type="text" value="<?php echo $item[$field[0]]; ?>" />
    </td>
    <?php } ?>
</tr>

<?php _tree_show(default_empty_value($item, 'child', []), $fields, $num + 1);} } ?>
